/* FONTS */

@font-face {
  font-family: "NYT";
  src: url("fonts/Chomsky.woff") format('woff');
}

html {
  font-size: 20px;
}

/* HEADER */

nav {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;
}

.fa-bars {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: #000;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1rem;
}

.nyt-title {
  font-family: "NYT";
}

.nyt-title a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

.subscription button {
  color: #fff;
  font-size: 0.6rem;
  font-weight: bold;
  height: 1.4rem;
  width: auto;
  background-color: #567b95;
  border-color: #326891;
  border-radius: 0.15rem;
}

.title-and-icons {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.article-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: italic;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
  margin-top: 4rem;
  text-align: justify;
}

.social-icons-top {
  text-align: justify;
}

.icon-bar {
  margin: 0 0.3rem;
}

.circle {
  background: #eeeeee;
  width: 1.2rem;
  height: 0.8rem;
  border-radius: 50%;
  text-align: center;
  line-height: 0.1rem;
  vertical-align: middle;
  padding: 0.3rem;
}

/* ARTICLE SECTION */

.main-article {
  display: flex;
  flex-direction: column;
}

.main-photo {
  justify-content: center;
}

.main-photo img {
  height: auto;
  width: 60vw;
}

.main-photo figcaption {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 1.2rem;
}

.main-photo figcaption span {
  font-size: 1.1rem;
  color: #888;
}

.main-article > p:first-of-type {
  font-weight: bold;
}

.main-article p {
  font-size: 1.25rem;
}

/* FOOTER */

.home-page {
  color:cornflowerblue;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  text-decoration: underline;
}

.subscribe-icon {
  color: #000;
}

.t-icon {
  height: 1rem;
  width: 1rem;
}

.lined-links a {
  color: #888;
  margin: 0 0.7rem;
  font-size: 0.6rem;
}

.expand-bar {
  height: 2rem;
}