/* FONTS */

@font-face {
  font-family: "NYT";
  src: url("fonts/Chomsky.woff") format('woff');
}

html {
  font-size: 20px;
}

/* HEADER */

nav {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;
}

.fa-bars {
  margin: 0 1rem;
}

footer a {
  text-decoration: none;
  color: #000;
}

.space-header a {
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  margin: 0 1rem;
}

.nyt-title {
  font-family: "NYT", Helvetica, sans-serif;
}

.nyt-title a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}

.subscription button {
  color: #fff;
  font-size: 0.6rem;
  font-weight: bold;
  height: 1.4rem;
  width: auto;
  background-color: #567b95;
  border-color: #326891;
  border-radius: 0.15rem;
}

.title-and-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  justify-content: space-around;
}

.article-title {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-style: italic;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
  margin-top: 4rem;
  text-align: justify;
}

.social-icons-top {
  text-align: justify;
}

.icon-bar {
  margin: 0 0.3rem;
}

.circle {
  background: #eee;
  width: 1rem;
  height: 0.8rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 0.3rem;
}

/* MAIN PHOTO */

.main-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-photo img {
  width: 62vw;
}

.main-photo figcaption {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

.main-photo figcaption span {
  font-size: 0.8rem;
  color: #888;
}

/* ARTICLE SECTION */

.part-one {
  display: grid;
  grid-template-columns: [left-panel-start] 35vw [left-panel-end] 30vw [right-panel-start] 35vw [right-panel-end];
}

.mid-panel-one p {
  font-size: 1rem;
}

.nyt-advert:before, 
.nyt-advert:after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.05rem;
  background: lightgray;
  margin: 0.05rem auto;

}

.nyt-advert p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
}

.infographic p {
  margin-top: 0;
  font-size: 0.7rem;
}

.paid-post p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
}

.mid-panel-one > p:first-of-type {
  font-weight: bold;
}

.nyt-advert p span {
  font-weight: bold;
}

.editors-box p {
  font-size: 0.8rem;
}

.editors-box p span {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
}

.paid-post p span {
  font-weight: bold;
  font-weight: Arial, Helvetica, sans-serif;;
  font-size: 0.4rem;
}

.paid-post p {
  font-size: 0.7rem;
  font-weight: normal;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.yt-video figcaption span {
  color: gray;
}

.infographic-image {
  position: relative;
}

.infographic .universe {
  position: absolute;
  top: 14vh;
  left: 0;
}

.infographic .universe span {
  font-weight: bold;
}

.infographic .enough-time {
  position: absolute;
  top: 14vh;
  left: 23vh;
}

.infographic .enough-time span {
  font-weight: bold;
}

.infographic .distant-coffee {
  position: absolute;
  top: 14vh;
  left: 46vh;
}

.infographic .distant-coffee span {
  font-weight: bold;
}

.infographic .coffee-everywhere {
  position: absolute;
  top: 14vh;
  left: 70vh;
}

.infographic .coffee-everywhere span {
  font-weight: bold;
}

.infographic .still-not {
  position: absolute;
  top: 40vh;
  left: 0;
}

.infographic .still-not span {
  font-weight: bold;
}

.infographic .inflation {
  position: absolute;
  top: 40vh;
  left: 23vh;
}

.infographic .inflation span {
  font-weight: bold;
}

.infographic .fluctuation {
  position: absolute;
  top: 40vh;
  left: 46vh;
}

.infographic .fluctuation span {
  font-weight: bold;
}

.infographic .expansion {
  position: absolute;
  top: 40vh;
  left: 70vh;
}

.infographic .expansion span {
  font-weight: bold;
}

.mid-panel-one > p:first-of-type span {
  text-decoration: underline;
}

.mid-panel-one > p:first-of-type span:hover {
  text-decoration: none;
}

.nyt-advert a {
  text-decoration: none;
  font-weight: bold;
  color: cornflowerblue;
}

.inner-titles {
  font-size: 1rem;
}

/* INFOGRAPHIC */

.infographic {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 46vw;
  margin-bottom: 1.2rem;
}

.infographic h2 {
  margin-bottom: 0.3rem;
}

.infographic img {
  width: 46vw;
}

.infographic .description {
  width: 10vw;
  font-size: 0.6rem;
}

.infographic span {
  font-size: 0.7rem;
}

.infographic .quote:before {
  display: block;
  text-align: justify;
  margin-top: 1rem;
  content: "_________";
  padding-bottom: 0.8rem; 
}

.part-two {
  display: grid;
  grid-template-columns: [left-panel-start] 35vw [left-panel-end] 30vw [right-panel-start] 35vw [right-panel-end];
}

.yt-video {
  margin-left: 0;
  margin-right: 0;
}

.yt-video iframe {
  border: none;
}

.yt-video figcaption {
  font-size: 0.8rem;
}

.telescope-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vh;
  margin-left: 0;
  margin-right: 0;
}

.telescope-photo img {
  width: 75vh;
}

.telescope-photo figcaption {
  text-align: justify;
}

/* SUGGESTED */

.additional-articles {
  display: flex;
}

.left-panel-adt {
  display: flex;
  flex-direction: column;
}

.suggested-line {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.suggested-line h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.suggestion img {
  width: 7vh;
}

.right-panel-adt {
  display: flex;
  flex-direction: column;
}

/* ASIDE */

.right-panel {
  margin: 1rem 2rem;
  padding: 5rem 5rem 5rem 10rem;
}

.right-panel h4 {
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  text-align: justify;
  margin: 1rem;
  padding-bottom: 0.5rem;
}

.editors-box {
  display: flex;
  margin: 1rem;
}

.editors-box img {
  width: 10vh;
  height: 100%;
  margin-right: 0.8rem;
}

.paid-post {
  background-color: rgb(245, 245, 245);
}

/* FOOTER */

.home-page {
  color: cornflowerblue;
}

.lined-links a {
  color: #888;
  margin: 0 0.7rem;
  font-size: 0.6rem;
}

footer a:hover {
  text-decoration: underline;
}

.subscribe-icon {
  color: #000;
}

.t-icon {
  height: 1rem;
  width: 1rem;
}

.expand-bar {
  height: 2rem;
}
